<!DOCTYPE HTML>
<html>
<head>
<title>{{ project }}</title>
<link rel="stylesheet" type="text/css" href="/static/css/multitwitch.css" />
<link rel="icon" href="/favicon.ico" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css" />
<script type="text/javascript" src="/static/js/mustache.js"></script>
<script type="text/javascript" src="/static/js/multitwitch.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    absolute_center($("#helpbox"));
    if ({{ nstreams }} == 0) {
        hide_chat();
        $("#helpbox").css('display','block');
    }

    {% for stream in streams %}
    streams.push({{ stream|to_json }});
    {% endfor %}

    // Setup tabs
    chat_tabs = $("#chatbox").tabs();
    // Hide chat
    hide_chat();
    // Do this after all the jqueryui setup.
    optimize_size({{ nstreams }});
    setTimeout(function(){
        optimize_size({{ nstreams }})
        }, 500);
});
$(window).resize(function() {
    absolute_center($("#helpbox"));
    optimize_size(-1);
});
</script>
</head>
<body>
<div id="wrapper">
<div id="streams">
    {% for stream in streams %}
      {% set stream_url = 'https://player.twitch.tv/?muted=true&channel=' + stream["channel_id"] %}
      {% if stream["platform"] == "youtube": %}
        {% set stream_url = 'https://www.youtube.com/embed/live_stream?autoplay=1&mute=1&channel=' + stream["channel_id"] %}
      {% endif %}
      <iframe id="embed_{{ stream["name"]|e }}" src="{{ stream_url|e }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="stream" allowfullscreen="true"></iframe>
    {% endfor %}
</div>

<div id="chatbox">
<ul id="tablist">
{% for stream in unique_streams %}
      {% if not stream.startswith('yt-'): %}
<li><a href="#chat-{{ stream["name"]|e }}">{{ stream|e }}</a></li>
      {% endif %}
{% endfor %}
</ul>
{% for stream in unique_streams %}
<div id="chat-{{ stream["name"]|e }}" class="stream_chat">
      {% if stream["platform"] == "twitch": %}
        <iframe frameborder="0" scrolling="no" id="chat-{{ stream["name"]|e }}-embed" src="http://twitch.tv/chat/embed?channel={{ stream["channel_id"]|e }}&amp;popout_chat=true" height="100%" width="100%"></iframe>
      {% endif %}
</div>
{% endfor %}
</div>


<div id="helpbox">
<h1>MultiTwitch.tv</h1>
<div id="helptext">
Welcome to MultiTwitch!<br />
<br />
You can use this site to watch any number of <a href="http://twitch.tv/">twitch.tv</a> and <a href="https://youtube.com">YouTube</a> streams at the same time (as long as your computer can handle it).<br />
<br />
For Twitch streamers, simply put the username for the streams you want in the url.<br />
For YouTube streamers, you will need to add "yt-" to the start of their channel name.<br />
<br />
<strong>For example:</strong><br />
<a href="/gunnermaniac3/narcissawright">multitwitch.tv/gunnermaniac3/narcissawright</a><br />
<a href="/gunnermaniac3/narcissawright/yt-LazarBeam">multitwitch.tv/gunnermaniac3/yt-LazarBeam/narcissawright/yt-PewDiePie</a><br />
<br />
MultiTwitch will optimize the layout of streams to give you the maximum size on each of the streams, while maintaining aspect ratio. For the curious, the source of this page is available at <a href="https://github.com/bhamrick/multitwitch">github.com/bhamrick/multitwitch</a>.<br />
<br />
Happy streamwatching!
</div>

<div id="credits">
Created by Brian Hamrick
</div>
</div>

<div id="change_streams" class="optionbox">
    <div id="streamlist">
    {% for stream in streams %}
    <div class="streamlist_item">
    <input type="checkbox" checked=true class="check" />
    <span>{{ stream["name"]|e }}</span>
    </div>
    {% endfor %}
    <div class="streamlist_item">
    <input type="text" class="stream_name" onkeyup="stream_item_keyup(event)" />
    </div>
    </div>

    <div class="fullwidth centering">
        <a onclick="add_stream_item()">Add Stream</a>
    </div>

    <div class="fullwidth">
    <button type="button" class="left" onclick="close_change_streams(false)">Cancel</button>
    <button type="button" class="right" onclick="close_change_streams(true)">Ok</button>
    <div class="clear"></div>
    </div>
</div>

<div id="bottom_right_bar">
<a onclick="change_streams()">Change Streams</a>
|
<a onclick="toggle_chat()">Toggle Chat</a>
</div>

</div>
</body>
</html>
